MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=drivelearn.notificacoes@gmail.com
MAIL_PASSWORD=senha_de_app_do_google
MAIL_FROM_ADDRESS=drivelearn.notificacoes@gmail.com
MAIL_FROM_NAME="Drive Learn"
MAIL_REPLY_TO=suporte@seudominio.com.br
MAIL_TIMEOUT=15
